/*--- Formulaire Recherche avancée ---*/

body {
    text-align: center;
    background: rgb(204, 204, 255);
}

h1 {
    font-size: 130px;
    color: white;
    font-weight: bold;
    font-family: 'Passion One';
    text-shadow: 4px 4px 4px #666;
    margin-top: 120px;
}

h2 {
    margin-top: 0;
    font-size: 34px;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-bottom: 50px;
    padding: 15px;
    background-color: rgba(100,100,100,0.5);
}

h3 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: black;
}

.prez {
    width: 350px;
}

.logo {
    margin-top: -3px;
    float: left;
    margin-left: 20px;
    margin-right: -230px;
    font-size: 60px;
    color: white;
    font-weight: bold;
    font-family: 'Passion One';
    text-shadow: 2px 2px 2px #666;

}

.bouton {
    margin-top: 20px;
    background-color: #bbb;
}

.thumbnail {
    height: 380px;
}

img {
    margin-top: 30px;
    margin-bottom: 50px;
}

a:focus, a:hover {
    text-decoration: none;
}

p {
    font-size: 30px;
    font-family: 'Anton';

}

.cadre {
    margin-top: 80px;
    border: 2px solid #999;
    padding: 25px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #666;
}

.choixsport {
    margin-top: 20px;
}

.nutri {
    width: 100px;
    margin: 10px 0;
}


/*---- Membre authentifié   ----*/

.row .chapeau {
    background-color: white;
}

.member-box {
    border: solid slategrey 1px;
}

.member-title-field {
    font-size: 18px;
}


.datePicker {
    text-align : left;
}

.listeProduit {
    text-align: left;
    padding-bottom: 0;
}

.listeProduit img {
    margin-top: 10px;
    margin-bottom: 10px;
}